<footer class="custom-footer">
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Copyright @ NBA Insider</h2>
        <p>Institute of Art Design &amp; Technology</p>
      </div>
   </div>
   <div class="row details">
      <div class="col-md-12">Julz Engracio - N00145647
        <p>email@email.com</p>
        <img src="../../assets/facebook.png" class="logo img responsive">
        <img src="../../assets/twitter.png" class="logo img responsive">
      </div>
   </div>
  </div>
</footer>
