.custom-btn a{
    font-size: 12px;
    font-weight: normal;
    color: #fff;
}

.custom-btn a:hover {
    text-decoration: none;
}

.alert {
    color: red;
}

.live-input{
    text-align: center;
    font-weight: bold;
}