<div *ngFor="let article of articles">
  <div class="container article-container">
    <div class="row">
      <div class="col-sm-12 col-md-5 col0-md-offset-1 columns">
        <img src="http://localhost:8888/api/file/{{article.filename}}" class="img-responsive image-holder">
      </div>
      <div class="col-sm-12 col-md-6 columns">
        <a routerLink="/articles/{{ article._id }}">{{ article.title }}</a>
        <p class="article-content">{{ article.content | slice: 0:350 }}</p>
        <button type="button" class="btn btn-primary read-more"><a routerLink="/articles/{{ article._id }}">Read More</a></button>
      </div>
    </div>
  </div>
</div>